
<li class="mentoring-grid-item">
  <a href={{ .url }}>
    <div class="mentoring-grid-card">
      <div class="mentorimg" style="background-image: url(img/{{ .img }});" ></div>
      <div class="mentoring-grid-right">
        <div class="mentoring-grid-statement">
          <p>"{{ .statement }}"</p>
        </div>
        <div class="mentoring-grid-attribution">
          <h1>{{ .name }}</h1> 
          <h2>Mentee - {{ .chapter }}</h2>
          <h3>chapter mentoring program</h3>
        </div> <!-- attribution -->
      </div> <!-- right -->
    </div> <!-- card -->
  </a>
</li>
