<li class="directory-grid-item">
  <div class="directory-grid-main">
    <div class="imgdiv" style='background-image: url({{ .photo_url | default "/images/placeholder_user.png"}});' ></div>
      <h1><b>{{ .name }}</b></h1> 
      <h2>{{with .honorific }}{{ . }}{{ end }}&emsp;{{with .pronouns }}{{ . }}{{ end }}</h2>
      {{ with .social_media }}
      <h3>
        {{ range . }}
          {{ partial "some.html" . }}
        {{ end }}
      </h3>
      {{ end }}
      </div>
      <div class="directory-grid-desc">
      <p>
        <i>{{ .title }}</i>{{ with .organization }}&nbsp; - &nbsp;{{ . }}{{ end }}
    <br><br>
    <p>
      <b>Contact through:</b> {{ delimit .contact_method ", " | default "Not disclosed" }}<br>
    </p>
    {{ with .activities }}
        {{ range . }}
          {{ partial "some.html" . }}
        {{ end }}
    {{ end }}
   </div>
</li>
